html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25252a;
    color:aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 0;
    margin: 0;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    gap: 16px;
}

.score {
    font-size: 32px;
    font-weight: 700;
}

.results {
    font-size: 28px;
    font-weight: 300;
}

.field {
    font-size: 28px;
    font-weight: 500;
}

.button-container {
    display: flex;
    gap: 32px;
}

button {
    font-size: 20px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;
}
