body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 32px;
}

button {
    font-size: 16px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}
